@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: black;
        color: white;

}

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.left-section {
    width: 25vw;
    padding: 5px;
}



.home ul li {
    width: 28px;
    gap: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 15px;
    width: 100%;
    /* padding-top: 14px; */
    padding: 0px 0px 23px 0px;
    font-weight: bold;
    align-items: center;
    font-size: 14px;
}

.heading img{
    width: 28px;
}

.library{
    min-height: 77.5vh;
    position: relative;
    margin-top: 4px;
}

.footer{
    display: grid;
    grid-template-rows: 20px 20px;
    grid-template-columns: 62px 140px 79px 40px;
    font-size: 11px;
    font-weight:400;
    gap: 11px;
    position: absolute;
    bottom: 0;
    padding: 20px;

}

.footer a{
    color: grey;

}

.footer div{
    margin : 0px 5px;

}

.right-section {
    width: 75vw;
    margin: 10px 0px;
    
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(61, 60, 60); */
}

.header > *{
    padding: 5px;
}

.signupbtn{
    width: 107px;
    padding: 15px;
    font-weight:700;
    border-radius: 50px;
    border: none;
    background-color: #2c2c2c;
    color: grey;
}

.loginbtn{
    width: 107px;
    padding: 15px 0px;
    font-weight:700;
    border: none;
    border-radius: 50px;
}

.spotifyPlaylist{
    padding: 10px;
}

.spotifyPlaylist h1{
    padding: 10px 0px;
}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
    max-height: 64vh;
    overflow-y: scroll;
}

.card{
    position:relative;
    width: 200px;
    padding: 10px;

}

.card img{
    width: 100%;
    object-fit: contain;
}

.card h2,p{
    padding-top: 10px;
}

.play {
    position: absolute;
    right: 26px;
    top: 157px;
    background-color: #3BE477;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 1;
    transition: all 1s ease-out;
}

.play svg {
    fill: black;
}

.play:hover {
    background-color: darkgreen;
}